body {
    font-family: Arial, sans-serif;
    background-color: #0047AB !important;
    background-size: cover;
    background-position: center;
    padding-top: 80px; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerlogin {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 250px;
}

h1 {
    text-align: center;
}


.navbar {
    background-color: #0047AB;
    border-bottom: 1px solid black;
}
.navbar .logo {
    width: 38px;
    height: 38px;
    margin-right: 15px;
}

.nav-item {
    color: white;
    margin: 5px;
}

.nav-link {
    color: white !important;
}

/* container first */

.containerfirst {
    height: auto;
}