
body {
    font-family: Arial, sans-serif;
    background-color: #060690;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerlogin {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 250px;
}

h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

#accounts-list ul {
    list-style-type: none;
    padding: 0;
}

#accounts-list li {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#accounts-list p {
    color: red;
    font-weight: bold;
}
